#id{

    color: crimson;
}
.class
{
    color: cornflowerblue;
    outline: slateblue dotted 2px;
}
p strong{
 color: #a1fa8e;
}
body{
    background-image:url("QQ图片20190918182301.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1000px 1000px;
}
#iid{
    text-indent: 2em;
    text-align: center;
    text-shadow: 5px 5px 5px cadetblue;
    text-wrap:normal;
    width:400px;
    text-transform: uppercase;
}
a:link{
    color:rosybrown;
}
a:active{
    color: #a1fa8e;
}
a:hover
{
    color: crimson;
}
a:visited{
    color: burlywood;
}
a{
    font-family: "Berlin Sans FB", serif;
    font-size: 40px;
    font-style: initial;
    font-weight: bolder;
}
ul{
    list-style: circle outside url("QQ图片20190918182301.jpg");
}
th{
    border: salmon solid 1px;
    background-color: aqua;
    text-align: center;
    padding: 20px;
}
table{
    border-collapse: collapse;
    width: 300px;
    height:400px;
}
.a{
    background-color: burlywood;
}
td,tr{
    border:slateblue solid 3px;
    text-align: center
}
td{
    padding: 30px;
}